/* General */
* {
    box-sizing: border-box;
    color: white;
    fill: white;
    font-family: 'Roboto', 'Open sans', sans-serif;
}

body {
    margin: 0;
}

svg {
    height: 1.2rem;
}

/* Utilities */
.blurry-bg {
    background: #00000030;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.rounded-border {
    border-radius: 12px;
}
.clickable {
    cursor: pointer;
    padding: 6px 1rem;
    background-color: #20202080;
    border-radius: 3px;
}
.clickable:active {
    background-color: transparent;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    height: 100%;
    background: url(00001.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

/* City input */
#search-form-contr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    position: absolute;
    z-index: 1;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    padding: 0.8rem;
}
label {
    display: flex;
    align-items: center;
    justify-content: center;
}
form svg {
    height: 1.3rem;
}
input {
    padding: 3px;
    border: none;
    outline: none;
    font-size: medium;
    background-color: transparent;
    width: clamp(80px, 40vw, 200px);
}
input::placeholder {
    color: #ffffff80;
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
}
form button {
    border: none;
    background-color: transparent;
}
#msg-box:not(.active) {
    display: none;
}
#msg-box {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
#msg {
    color: orange;
    font-weight: bold;
}
#msg::before {
    content: "âŒ ";
}

/* Areas list */
ul#areas-list:not(.active) {
    display: none;
}
ul#areas-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0;
    width: 300px;
    align-self: center;
}
#areas-list li {
    display: grid;
    grid-template: auto / auto 1fr;
    gap: 3px 1rem;
    padding: 6px 1rem;
}
#areas-list li:hover {
    cursor: pointer;
    background-color: #ffffff80;
}
#areas-list li:not(:first-child) {
    border-top: 1.5px solid;
}
.area-name {
    overflow: hidden;
    text-overflow: ellipsis;
    /* wrapping */
}
.category {
    grid-column: 1 / -1;
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: small;
    font-style: italic;
    letter-spacing: 0.7px;
}

#display-contr {
    border: 1.8px solid;
    width: 300px;
    margin-top: 10rem;
    margin-bottom: clamp(10rem, 45vh, 80vh);
}
#display-contr h2 {
    margin: 0;
}
/* Display selections & input */
#selections {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}
#selections label:hover {
    cursor: pointer;
}
#selections > div:last-child {
    font-size: small;
}
input#disp-curr,
input#disp-forecast {
    display: none;
}
input#disp-curr:checked ~ #selections label[for="disp-curr"],
input#disp-forecast:checked ~ #selections label[for="disp-forecast"] {
    font-weight: bold;
}
/* Current weather display */
#current {
    display: none;
}
#disp-curr:checked ~ #current,
#disp-forecast:checked ~ #forecast {
    padding: 1rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
#current > *:not(#loading-contr) {
    flex-wrap: wrap;
    padding: 1rem 0;
}
#current > *:not(:first-child) {
    border-top: 2px solid;
}
/* Location & time */
#location-time-contr {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3px;
    align-items: center;
}
#city {
    font-size: 2rem;
}
#time-contr {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
#time {
    text-transform: lowercase;
}
/* Current weather data */
#curr-weather-contr {
    display: grid;
    align-items: center;
    grid-template: auto auto / 1fr 1fr;
    gap: 1rem;
}
#temp {
    font-size: xx-large;
    font-weight: bold;
}
#curr-weather-contr img {
    grid-row: 1 / -1;
    grid-column-start: 2;
}
#details-contr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 3px;
}
.heading-text {
    font-size: x-large;
    grid-column: 1 / -1;
}
#details-contr > div:nth-child(2n + 3) {
    font-weight: bold;
}
/* Forecast */
#forecast {
    display: none;
}
#disp-forecast:checked ~ #forecast {
    display: flex;
    flex-direction: column;
}
#forecast h2 {
    padding: 1rem 0;
}
#forecast > *:not(:first-child) {
    border-top: 2px solid;
}
#days-contr {
    display: flex;
    gap: 0.5rem;
    padding: 1rem 0;
    margin-bottom: 1rem;
    width: 100%;
    overflow-x: scroll;
    scrollbar-color: #00000080 #00000080;
    scrollbar-width: 1rem;
}
.day-date {
    font-size: small;
    font-weight: bold;
}
#days-contr > div {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 0 0 6rem;
    padding: 8px;
    background-color: #00000030;
}
#days-contr img {
    height: 40px;
    width: 40px;
}
#days-contr::-webkit-scrollbar,
#hours-contr::-webkit-scrollbar {
    width: 1rem;
}
#days-contr::-webkit-scrollbar-track,
#hours-contr::-webkit-scrollbar-track {
    background-color: #00000030;
    border-radius: 1rem;
}
#days-contr::-webkit-scrollbar-thumb,
#hours-contr::-webkit-scrollbar-thumb {
    background-color: #00000030;
    border-radius: 1rem;
}
#hours-contr {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-height: 230px;
    overflow-y: scroll;
    font-size: small;
    padding: 6px;
    padding-left: 0;
    scrollbar-color: #00000080 #00000080;
    scrollbar-width: 1rem;
}
#hours-contr .hours {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: space-between;
}
#hours-contr .hours > div:first-child {
    display: flex;
    gap: 3px;
    align-items: center;
}
#hours-contr img {
    height: 32px;
    width: 32px;
}

/* Loading component */
#loading-contr:not(.active) {
    display: none;
}
#loading-contr {
    background-color: #00000080;
    border: none !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#loading-contr > div {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 150px;
}
#loading-contr .rings {
    position: absolute;
    left: 50%;
    height: 80px;
    border-style: solid;
    border-radius: 50%;
}
#loading-contr.active .rings:first-child {
    border-width: 2px;
    animation: spin 2s linear infinite;
}
#loading-contr.active .rings:nth-child(2) {
    border-width: 4px;
    opacity: 0.5;
    animation: spin-opp 1.5s linear infinite;
}
#loading-contr.active .rings:nth-child(3) {
    border-width: 3px;
    animation: spin 1.5s linear infinite;
}
#loading-text {
    margin-top: 120px;
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes spin-opp {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}